In [47]:
import os

import numpy as np
import pandas as pd
import ortools

Pallet EUR:

|       |  $L\times W\times H (cm)$   | Load (kg)  |
|:-----:|:--------------------------:|:--------:|
| EUR 1 |  $80\times 120\times 14.5$ |  $2490$  |
| EUR 2 | $120\times 100\times 14.4$ |  $1470$  |
| EUR 3 | $100\times 120\times 14.4$ |  $1920$  |
| EUR 6 |  $80\times 60\times 14.4$  |   $500$  |

Container ISO:

|   |  $L\times W\times H (cm)$  | Load (kg) |
|:-:|:--------------------------:|:--------:|
| 1A | $233\times 1200\times 220$ |  $26480$ |
| 1C |  $233\times 587\times 220$ |  $28180$ |

In [23]:
def gen_products(num_products, max_lenght, max_width, max_height, max_weight, decimals=2):
    lenghts = np.around(np.random.uniform(low=1, high=max_lenght, size=num_products), decimals=decimals).reshape(-1, 1)
    widths = np.around(np.random.uniform(low=1, high=max_width, size=num_products), decimals=decimals).reshape(-1, 1)
    heights = np.around(np.random.uniform(low=1, high=max_height, size=num_products), decimals=decimals).reshape(-1, 1)
    weights = np.around(np.random.uniform(low=1, high=max_weight, size=num_products), decimals=decimals).reshape(-1, 1)
    data = np.concatenate((lenghts, widths, heights, weights), axis=1)
    return pd.DataFrame(data, columns=["lenght", "width", "height", "weight"])

In [50]:
num_products = 100
max_lenght = 80
max_width = 120
max_height = 220
max_weight = 200

In [51]:
products_path = "data/products.pkl"
if not os.path.exists(products_path):
    print("Generating products...")
    products = gen_products(num_products, max_lenght, max_width, max_height, max_weight)
    products.to_pickle(products_path)
else:
    print("Loading pickled products...")
    products = pd.read_pickle(products_path)
products.head()

Loading pickled products...

   lenght   width  height  weight
0    4.01   29.47  206.73   56.46
1   69.16   62.40  217.25  131.52
2   45.61   94.00   73.12  161.12
3   15.82  100.96  133.61   69.82
4   71.32   98.94   27.13  155.64

In [43]:
def get_order(products, max_products, max_quantity):
    quantities = pd.Series(np.random.randint(low=1, high=max_quantity, size=max_products), name="quantity")
    order = products.sample(max_products)
    ids = pd.Series(order.index, name="id")
    return pd.concat([ids, order.reset_index(drop=True), quantities], axis=1)

In [52]:
max_products = 10
max_quantity = 3

In [53]:
order = get_order(products, max_products, max_quantity)
order.head()

   id  lenght  width  height  weight  quantity
0  75   74.63  79.73  208.26    7.11         1
1  74   49.46  96.85   82.68  128.83         2
2  98   19.54  44.43    8.15  163.49         2
3  31   31.82  37.50   15.57   55.63         1
4  12   29.89   6.07  144.91   26.46         2