# Column generation approach

## Pre-requisites

In [36]:
import os
from collections import namedtuple
from time import time

import numpy as np
import pandas as pd
from ortools.sat.python import cp_model
from matplotlib import pyplot as plt
from tqdm import tqdm

from src import cg, config, dataset, layers, pack, plot, superitems, utils, warm_start

In [19]:
%matplotlib notebook
%load_ext autoreload
%load_ext nb_black
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [5]:
plt.style.use("seaborn")
np.random.seed(config.RANDOM_SEED)

## Dataset

In [6]:
product_dataset = dataset.ProductDataset(
    "data/products.pkl",
    config.NUM_PRODUCTS,
    config.MIN_PRODUCT_WIDTH,
    config.MAX_PRODUCT_WIDTH,
    config.MIN_PRODUCT_DEPTH,
    config.MAX_PRODUCT_DEPTH,
    config.MIN_PRODUCT_HEIGHT,
    config.MAX_PRODUCT_HEIGHT,
    config.MIN_PRODUCT_WEIGHT,
    config.MAX_PRODUCT_WEIGHT,
    force_overload=False,
)
product_dataset.products.head()

   width  depth  height  weight    volume
0    160    280     233       8  10438400
1    199    269     260      11  13918060
2    187    101     283       2   5345021
3    126    149     214       2   4017636
4    248    132     280       3   9166080

In [7]:
ordered_products = 100
order = product_dataset.get_order(ordered_products)
order.head()

       id  width  depth  height  weight    volume
0  121958    193    221     371       2  15824263
1  671155    236    142     437      58  14644744
2  131932    228    139     254      26   8049768
3  365838    267    131     322      11  11262594
4  259178    253    191     580      68  28027340

## Superitems

In [65]:
superitems_pool = superitems.SuperitemPool(
    order=order, pallet_dims=config.PALLET_DIMS, max_vstacked=4
)
superitems_pool.to_dataframe()

Generating horizontal 2-items superitems: 0it [00:00, ?it/s]
Generating horizontal 4-items superitems: 0it [00:00, ?it/s]

     width  depth  height               ids                 type
0      193    221     371               [0]  SingleItemSuperitem
1      236    142     437               [1]  SingleItemSuperitem
2      228    139     254               [2]  SingleItemSuperitem
3      267    131     322               [3]  SingleItemSuperitem
4      253    191     580               [4]  SingleItemSuperitem
..     ...    ...     ...               ...                  ...
202    307    282    1503  [69, 77, 79, 95]    VerticalSuperitem
203    340    269    1416  [19, 30, 39, 44]    VerticalSuperitem
204    273    378    1452  [40, 45, 49, 72]    VerticalSuperitem
205    268    382    1346  [33, 54, 60, 87]    VerticalSuperitem
206    343    379    1732    [6, 7, 21, 51]    VerticalSuperitem

[207 rows x 5 columns]

## Column generation

- Dobbiamo passare a SP solo gli item con dual > 0?
- Dobbiamo evitare di processare layer con alpha != 1 (anche in SP no placement)?
- RMP lavora su tutti i layer, solo su quelli nuovi o su una parte?

### Warm start with height groups

In [66]:
height_groups = warm_start.get_height_groups(superitems_pool, height_tol=5)
for group in height_groups:
    display(group.to_dataframe())

   width  depth  height   ids                 type
0    155    205     176  [42]  SingleItemSuperitem

   width  depth  height   ids                 type
0    178     83     195  [46]  SingleItemSuperitem

   width  depth  height   ids                 type
0    192    132     201  [65]  SingleItemSuperitem

   width  depth  height   ids                 type
0    190     91     215  [99]  SingleItemSuperitem

   width  depth  height   ids                 type
0    176    100     225  [24]  SingleItemSuperitem
1    168    173     224  [43]  SingleItemSuperitem
2    177    174     226  [55]  SingleItemSuperitem
3    123    159     227  [59]  SingleItemSuperitem
4    135    130     228  [80]  SingleItemSuperitem
5    179    176     225  [81]  SingleItemSuperitem
6    140    174     223  [91]  SingleItemSuperitem

   width  depth  height   ids                 type
0    180     57     234  [23]  SingleItemSuperitem
1    163    155     239  [96]  SingleItemSuperitem

   width  depth  height   ids                 type
0    173    179     248  [25]  SingleItemSuperitem
1    234    112     251  [70]  SingleItemSuperitem

   width  depth  height   ids                 type
0    228    139     254   [2]  SingleItemSuperitem
1    234    112     251  [70]  SingleItemSuperitem

   width  depth  height   ids                 type
0    228    139     254   [2]  SingleItemSuperitem
1    188    371     257  [49]  SingleItemSuperitem
2    223    136     257  [85]  SingleItemSuperitem

   width  depth  height   ids                 type
0    218     54     267  [37]  SingleItemSuperitem
1    176     98     264  [86]  SingleItemSuperitem
2    197    382     268  [87]  SingleItemSuperitem

   width  depth  height   ids                 type
0    203    154     273  [10]  SingleItemSuperitem
1    197    382     268  [87]  SingleItemSuperitem

   width  depth  height   ids                 type
0    203    154     273  [10]  SingleItemSuperitem
1    167    126     274  [13]  SingleItemSuperitem
2    165    251     275  [98]  SingleItemSuperitem

   width  depth  height   ids                 type
0    167    126     274  [13]  SingleItemSuperitem
1    226    269     279  [44]  SingleItemSuperitem
2    159     92     279  [47]  SingleItemSuperitem
3    165    251     275  [98]  SingleItemSuperitem

   width  depth  height   ids                 type
0    226    269     279  [44]  SingleItemSuperitem
1    159     92     279  [47]  SingleItemSuperitem
2    187    144     281  [63]  SingleItemSuperitem
3    269    144     283  [64]  SingleItemSuperitem
4    159    304     281  [71]  SingleItemSuperitem

   width  depth  height   ids                 type
0    228    207     292  [18]  SingleItemSuperitem
1    245    139     292  [31]  SingleItemSuperitem
2    238    345     289  [60]  SingleItemSuperitem
3    242    109     289  [66]  SingleItemSuperitem
4    226    134     290  [89]  SingleItemSuperitem

   width  depth  height   ids                 type
0    145    271     295  [15]  SingleItemSuperitem
1    228    207     292  [18]  SingleItemSuperitem
2    245    139     292  [31]  SingleItemSuperitem
3    226    134     290  [89]  SingleItemSuperitem

   width  depth  height   ids                 type
0    143    343     297   [9]  SingleItemSuperitem
1    145    271     295  [15]  SingleItemSuperitem
2    228    207     292  [18]  SingleItemSuperitem
3    245    139     292  [31]  SingleItemSuperitem

   width  depth  height   ids                 type
0    240     97     304  [68]  SingleItemSuperitem

   width  depth  height   ids                 type
0    245    168     317  [17]  SingleItemSuperitem
1    249    237     318  [30]  SingleItemSuperitem
2    213    188     313  [50]  SingleItemSuperitem
3    217    244     313  [75]  SingleItemSuperitem

   width  depth  height   ids                 type
0    267    131     322   [3]  SingleItemSuperitem
1    245    168     317  [17]  SingleItemSuperitem
2    249    237     318  [30]  SingleItemSuperitem

   width  depth  height   ids                 type
0    267    131     322   [3]  SingleItemSuperitem
1    148    195     323  [14]  SingleItemSuperitem
2    249    237     318  [30]  SingleItemSuperitem

   width  depth  height   ids                 type
0    267    131     322   [3]  SingleItemSuperitem
1    148    195     323  [14]  SingleItemSuperitem
2    273    257     325  [40]  SingleItemSuperitem
3    225     93     327  [62]  SingleItemSuperitem

   width  depth  height   ids                 type
0    231    176     329  [34]  SingleItemSuperitem
1    273    257     325  [40]  SingleItemSuperitem
2    225     93     327  [62]  SingleItemSuperitem
3    258    127     330  [93]  SingleItemSuperitem

   width  depth  height   ids                 type
0    231    176     329  [34]  SingleItemSuperitem
1    287    157     333  [53]  SingleItemSuperitem
2    244    312     333  [54]  SingleItemSuperitem
3    258    127     330  [93]  SingleItemSuperitem

   width  depth  height   ids                 type
0    206    212     337  [12]  SingleItemSuperitem
1    287    157     333  [53]  SingleItemSuperitem
2    244    312     333  [54]  SingleItemSuperitem
3    180     64     336  [88]  SingleItemSuperitem

   width  depth  height   ids                 type
0    206    212     337  [12]  SingleItemSuperitem
1    241    158     342  [32]  SingleItemSuperitem

   width  depth  height   ids                 type
0    241    158     342  [32]  SingleItemSuperitem
1    231    128     345  [94]  SingleItemSuperitem

   width  depth  height   ids                 type
0    202    210     349  [26]  SingleItemSuperitem
1    241    231     350  [67]  SingleItemSuperitem
2    231    128     345  [94]  SingleItemSuperitem

   width  depth  height   ids                 type
0    202    210     349  [26]  SingleItemSuperitem
1    186    378     351  [45]  SingleItemSuperitem
2    239    159     354  [61]  SingleItemSuperitem
3    241    231     350  [67]  SingleItemSuperitem
4    207    282     352  [69]  SingleItemSuperitem

   width  depth  height   ids                 type
0    273    214     363  [95]  SingleItemSuperitem

   width  depth  height   ids                 type
0    193    221     371   [0]  SingleItemSuperitem
1    302    121     376  [78]  SingleItemSuperitem
2    235    155     372  [90]  SingleItemSuperitem

   width  depth  height   ids                 type
0    275    171     380  [76]  SingleItemSuperitem
1    302    121     376  [78]  SingleItemSuperitem
2    286    191     379  [84]  SingleItemSuperitem

   width  depth  height   ids                 type
0    249    142     388   [8]  SingleItemSuperitem
1    307    187     387  [77]  SingleItemSuperitem

   width  depth  height   ids                 type
0    249    142     388   [8]  SingleItemSuperitem
1    219    205     393  [57]  SingleItemSuperitem

   width  depth  height   ids                 type
0    245    379     394   [7]  SingleItemSuperitem
1    262    148     394  [16]  SingleItemSuperitem
2    219    205     393  [57]  SingleItemSuperitem
3    239    119     398  [82]  SingleItemSuperitem

   width  depth  height   ids                 type
0    247    133     403  [38]  SingleItemSuperitem
1    284    197     401  [79]  SingleItemSuperitem
2    239    119     398  [82]  SingleItemSuperitem

   width  depth  height   ids                 type
0    304    214     406  [19]  SingleItemSuperitem
1    243    102     406  [36]  SingleItemSuperitem
2    247    133     403  [38]  SingleItemSuperitem
3    284    197     401  [79]  SingleItemSuperitem

   width  depth  height   ids                 type
0    304    214     406  [19]  SingleItemSuperitem
1    343    263     411  [21]  SingleItemSuperitem
2    243    102     406  [36]  SingleItemSuperitem

   width  depth  height   ids                 type
0    343    263     411  [21]  SingleItemSuperitem
1    277    192     416  [28]  SingleItemSuperitem
2    340    192     413  [39]  SingleItemSuperitem

   width  depth  height   ids                 type
0    277    192     416  [28]  SingleItemSuperitem
1    340    192     413  [39]  SingleItemSuperitem
2    339     84     417  [58]  SingleItemSuperitem

   width  depth  height   ids                 type
0    307    167     422  [41]  SingleItemSuperitem
1    339     84     417  [58]  SingleItemSuperitem

   width  depth  height       ids                 type
0    236    142     437       [1]  SingleItemSuperitem
1    279    180     437      [11]  SingleItemSuperitem
2    232    494     441      [20]  SingleItemSuperitem
3    294    136     440      [22]  SingleItemSuperitem
4    350    287     441      [56]  SingleItemSuperitem
5    192    155     440  [65, 96]    VerticalSuperitem

   width  depth  height       ids                 type
0    232    494     441      [20]  SingleItemSuperitem
1    294    136     440      [22]  SingleItemSuperitem
2    300    291     444      [51]  SingleItemSuperitem
3    350    287     441      [56]  SingleItemSuperitem
4    190    130     443  [80, 99]    VerticalSuperitem
5    192    155     440  [65, 96]    VerticalSuperitem

   width  depth  height       ids                 type
0    300    291     444      [51]  SingleItemSuperitem
1    254    179     448      [92]  SingleItemSuperitem
2    190    130     443  [80, 99]    VerticalSuperitem

   width  depth  height   ids                 type
0    286    162     450  [29]  SingleItemSuperitem
1    254    179     448  [92]  SingleItemSuperitem

   width  depth  height       ids                 type
0    268    313     456      [33]  SingleItemSuperitem
1    178     98     459  [46, 86]    VerticalSuperitem

   width  depth  height       ids                 type
0    324     98     472      [48]  SingleItemSuperitem
1    177    179     474  [25, 55]    VerticalSuperitem

   width  depth  height   ids                 type
0    286    158     481   [5]  SingleItemSuperitem
1    318    267     483   [6]  SingleItemSuperitem
2    317    110     484  [52]  SingleItemSuperitem
3    299    121     486  [97]  SingleItemSuperitem

   width  depth  height   ids                 type
0    318    267     483   [6]  SingleItemSuperitem
1    363    151     487  [35]  SingleItemSuperitem
2    317    110     484  [52]  SingleItemSuperitem
3    299    121     486  [97]  SingleItemSuperitem

   width  depth  height       ids               type
0    203    176     498  [10, 81]  VerticalSuperitem

   width  depth  height       ids                 type
0    281     69     510      [74]  SingleItemSuperitem
1    258    205     506  [42, 93]    VerticalSuperitem

   width  depth  height   ids                 type
0    225    318     519  [72]  SingleItemSuperitem

   width  depth  height       ids               type
0    242    112     540  [66, 70]  VerticalSuperitem

   width  depth  height       ids               type
0    218     92     546  [37, 47]  VerticalSuperitem
1    226    136     547  [85, 89]  VerticalSuperitem

   width  depth  height       ids               type
0    225    159     554  [59, 62]  VerticalSuperitem

   width  depth  height       ids               type
0    180     64     570  [23, 88]  VerticalSuperitem
1    231    173     569  [43, 94]  VerticalSuperitem

   width  depth  height       ids                 type
0    253    191     580       [4]  SingleItemSuperitem
1    240    126     578  [13, 68]    VerticalSuperitem
2    273    371     582  [40, 49]    VerticalSuperitem

   width  depth  height       ids                 type
0    443     76     593      [83]  SingleItemSuperitem
1    245    251     592  [17, 98]    VerticalSuperitem
2    249    269     597  [30, 44]    VerticalSuperitem

   width  depth  height       ids                 type
0    347    335     601      [73]  SingleItemSuperitem
1    249    269     597  [30, 44]    VerticalSuperitem
2    244    382     601  [54, 87]    VerticalSuperitem

   width  depth  height       ids               type
0    243    174     629  [36, 91]  VerticalSuperitem

   width  depth  height       ids               type
0    231    188     642  [34, 50]  VerticalSuperitem

   width  depth  height   ids                 type
0    366    256     654  [27]  SingleItemSuperitem

   width  depth  height           ids               type
0    275    207     672      [18, 76]  VerticalSuperitem
1    190    130     668  [24, 80, 99]  VerticalSuperitem

   width  depth  height       ids               type
0    269    148     677  [16, 64]  VerticalSuperitem
1    275    207     672  [18, 76]  VerticalSuperitem

   width  depth  height       ids               type
0    239    144     679  [63, 82]  VerticalSuperitem
1    269    148     677  [16, 64]  VerticalSuperitem

   width  depth  height       ids               type
0    241    159     696  [32, 61]  VerticalSuperitem

   width  depth  height       ids               type
0    202    221     720   [0, 26]  VerticalSuperitem
1    273    282     715  [69, 95]  VerticalSuperitem

   width  depth  height           ids               type
0    324    139     726       [2, 48]  VerticalSuperitem
1    219    212     730      [12, 57]  VerticalSuperitem
2    223    179     731  [25, 55, 85]  VerticalSuperitem

   width  depth  height           ids               type
0    281    100     735      [24, 74]  VerticalSuperitem
1    294    271     735      [15, 22]  VerticalSuperitem
2    219    212     730      [12, 57]  VerticalSuperitem
3    279    343     734       [9, 11]  VerticalSuperitem
4    307    244     735      [41, 75]  VerticalSuperitem
5    223    179     731  [25, 55, 85]  VerticalSuperitem

   width  depth  height           ids               type
0    281    100     735      [24, 74]  VerticalSuperitem
1    294    271     735      [15, 22]  VerticalSuperitem
2    279    343     734       [9, 11]  VerticalSuperitem
3    307    244     735      [41, 75]  VerticalSuperitem
4    178     98     738  [46, 47, 86]  VerticalSuperitem

   width  depth  height           ids               type
0    281    100     735      [24, 74]  VerticalSuperitem
1    339    195     740      [14, 58]  VerticalSuperitem
2    294    271     735      [15, 22]  VerticalSuperitem
3    307    244     735      [41, 75]  VerticalSuperitem
4    178     98     738  [46, 47, 86]  VerticalSuperitem

   width  depth  height       ids               type
0    339    195     740  [14, 58]  VerticalSuperitem
1    268    345     745  [33, 60]  VerticalSuperitem

   width  depth  height       ids               type
0    302    155     748  [78, 90]  VerticalSuperitem
1    268    345     745  [33, 60]  VerticalSuperitem

   width  depth  height          ids               type
0    302    155     748     [78, 90]  VerticalSuperitem
1    228    176     752  [2, 10, 81]  VerticalSuperitem

   width  depth  height       ids               type
0    307    197     788  [77, 79]  VerticalSuperitem

   width  depth  height       ids               type
0    286    192     795  [28, 84]  VerticalSuperitem

   width  depth  height           ids               type
0    317    131     806       [3, 52]  VerticalSuperitem
1    343    379     805       [7, 21]  VerticalSuperitem
2    240    174     801  [13, 68, 91]  VerticalSuperitem

   width  depth  height       ids               type
0    287    158     814   [5, 53]  VerticalSuperitem
1    340    214     819  [19, 39]  VerticalSuperitem

   width  depth  height           ids               type
0    340    214     819      [19, 39]  VerticalSuperitem
1    242    144     821  [63, 66, 70]  VerticalSuperitem

   width  depth  height           ids               type
0    247    142     840       [1, 38]  VerticalSuperitem
1    363    231     837      [35, 67]  VerticalSuperitem
2    218     64     837  [23, 37, 88]  VerticalSuperitem

   width  depth  height           ids               type
0    243    155     846  [36, 65, 96]  VerticalSuperitem

   width  depth  height           ids               type
0    253    304     861       [4, 71]  VerticalSuperitem
1    231    173     859  [43, 89, 94]  VerticalSuperitem

   width  depth  height       ids               type
0    299    142     874   [8, 97]  VerticalSuperitem
1    225    378     870  [45, 72]  VerticalSuperitem

   width  depth  height       ids               type
0    443    139     885  [31, 83]  VerticalSuperitem

   width  depth  height               ids               type
0    286    179     898          [29, 92]  VerticalSuperitem
1    190    130     902  [46, 80, 86, 99]  VerticalSuperitem

   width  depth  height      ids               type
0    318    291     927  [6, 51]  VerticalSuperitem

   width  depth  height           ids               type
0    273    378     933  [40, 45, 49]  VerticalSuperitem

   width  depth  height           ids               type
0    245    251     941  [17, 26, 98]  VerticalSuperitem

   width  depth  height               ids               type
0    269    271     972      [15, 16, 64]  VerticalSuperitem
1    203    179     972  [10, 25, 55, 81]  VerticalSuperitem

   width  depth  height               ids               type
0    324    205     978      [42, 48, 93]  VerticalSuperitem
1    242    155     980  [65, 66, 70, 96]  VerticalSuperitem

   width  depth  height           ids               type
0    273    282    1033  [30, 69, 95]  VerticalSuperitem

   width  depth  height       ids               type
0    347    494    1042  [20, 73]  VerticalSuperitem

   width  depth  height           ids               type
0    281    159    1064  [59, 62, 74]  VerticalSuperitem

   width  depth  height           ids               type
0    302    159    1072  [32, 61, 78]  VerticalSuperitem

   width  depth  height           ids               type
0    294    188    1082  [22, 34, 50]  VerticalSuperitem

   width  depth  height           ids               type
0    366    287    1095      [27, 56]  VerticalSuperitem
1    317    139    1098   [3, 31, 52]  VerticalSuperitem
2    340    269    1098  [19, 39, 44]  VerticalSuperitem

   width  depth  height           ids               type
0    317    139    1098   [3, 31, 52]  VerticalSuperitem
1    219    221    1101   [0, 12, 57]  VerticalSuperitem
2    340    269    1098  [19, 39, 44]  VerticalSuperitem

   width  depth  height               ids               type
0    244    382    1120      [54, 72, 87]  VerticalSuperitem
1    218     92    1116  [23, 37, 47, 88]  VerticalSuperitem
2    231    173    1116  [43, 85, 89, 94]  VerticalSuperitem

   width  depth  height           ids               type
0    286    207    1122  [18, 29, 76]  VerticalSuperitem
1    244    382    1120  [54, 72, 87]  VerticalSuperitem

   width  depth  height           ids               type
0    339    195    1138  [14, 58, 82]  VerticalSuperitem
1    307    231    1138  [67, 77, 79]  VerticalSuperitem

   width  depth  height         ids               type
0    253    343    1158  [4, 9, 71]  VerticalSuperitem

   width  depth  height           ids               type
0    307    244    1172  [11, 41, 75]  VerticalSuperitem

   width  depth  height               ids               type
0    243    174    1207  [13, 36, 68, 91]  VerticalSuperitem

   width  depth  height              ids               type
0    318    345    1228      [6, 33, 60]  VerticalSuperitem
1    324    205    1232  [2, 42, 48, 93]  VerticalSuperitem

   width  depth  height               ids               type
0    324    205    1232   [2, 42, 48, 93]  VerticalSuperitem
1    245    251    1234  [17, 34, 50, 98]  VerticalSuperitem

   width  depth  height          ids               type
0    299    155    1246  [8, 90, 97]  VerticalSuperitem
1    343    379    1249  [7, 21, 51]  VerticalSuperitem

   width  depth  height          ids               type
0    287    179    1262  [5, 53, 92]  VerticalSuperitem

   width  depth  height           ids               type
0    363    192    1282  [28, 35, 84]  VerticalSuperitem

   width  depth  height               ids               type
0    281    159    1289  [24, 59, 62, 74]  VerticalSuperitem

   width  depth  height               ids               type
0    268    382    1346  [33, 54, 60, 87]  VerticalSuperitem

   width  depth  height               ids               type
0    294    271    1412  [15, 16, 22, 64]  VerticalSuperitem
1    340    269    1416  [19, 30, 39, 44]  VerticalSuperitem

   width  depth  height               ids               type
0    339    195    1419  [14, 58, 63, 82]  VerticalSuperitem
1    340    269    1416  [19, 30, 39, 44]  VerticalSuperitem

   width  depth  height          ids               type
0    443    142    1433  [1, 38, 83]  VerticalSuperitem

   width  depth  height               ids               type
0    302    159    1444  [32, 61, 78, 90]  VerticalSuperitem

   width  depth  height               ids               type
0    219    221    1450   [0, 12, 26, 57]  VerticalSuperitem
1    273    378    1452  [40, 45, 49, 72]  VerticalSuperitem

   width  depth  height              ids               type
0    307    343    1469  [9, 11, 41, 75]  VerticalSuperitem

   width  depth  height               ids               type
0    307    282    1503  [69, 77, 79, 95]  VerticalSuperitem

   width  depth  height              ids               type
0    366    494    1536     [20, 27, 56]  VerticalSuperitem
1    275    304    1533  [4, 18, 71, 76]  VerticalSuperitem

   width  depth  height               ids               type
0    363    231    1632  [28, 35, 67, 84]  VerticalSuperitem

   width  depth  height             ids               type
0    317    142    1680  [3, 8, 52, 97]  VerticalSuperitem

   width  depth  height              ids               type
0    287    179    1712  [5, 29, 53, 92]  VerticalSuperitem

   width  depth  height              ids               type
0    443    142    1725  [1, 31, 38, 83]  VerticalSuperitem

   width  depth  height             ids               type
0    343    379    1732  [6, 7, 21, 51]  VerticalSuperitem

In [74]:
bins_lbs = []
final_layer_pool = layers.LayerPool(superitems.SuperitemPool())
for spool in height_groups:
    layer_pool = warm_start.maxrects(spool, config.PALLET_DIMS)
    layer_pool, bins_lb = cg.column_generation(
        layer_pool,
        config.PALLET_DIMS,
        max_iter=100,
        tlim=None,
    )
    final_layer_pool.extend(layer_pool)
    bins_lbs.append(bins_lb)
final_layer_pool.to_dataframe()

  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  1%|          | 1/100 [00:00<00:02, 43.06it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  1%|          | 1/100 [00:00<00:01, 53.76it/s]
  0%|          | 0/100 [00:00<?, ?it/s]

Solving RMP...
Duals: [176.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [195.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [201.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [215.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0.  -0. 228.  -0.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0. 239.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0. 251.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  3. 251.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0. 257.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0. 268.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  5. 268.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0. 275.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0. 279.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0. 283.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  3.  -0.  -0. 289.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  3.  -0. 292.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  5.  -0. 292.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [304.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  5.  -0. 313.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  4.   1. 313.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  4.  -0. 318.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  5.  -0. 318.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  4.   1. 318.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  2.  -0. 325.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -2.0
Solving SP (with placement)...
Solving RMP...
Duals: [ -0.   2. 325.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: -2.0
Solving SP (with placement)...
Solving RMP...
Duals: [ -0.  -0. 325.   2.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost:

  2%|▏         | 2/100 [00:00<00:01, 64.89it/s]
  2%|▏         | 2/100 [00:00<00:01, 54.74it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  1%|          | 1/100 [00:00<00:01, 51.91it/s]
  3%|▎         | 3/100 [00:00<00:01, 49.73it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  1%|          | 1/100 [00:00<00:01, 64.14it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]

 0.0
Reached convergence :)
Solving RMP...
Duals: [  3.  -0. 327.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.   1. 327.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0. 327.   1.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0. 333.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  4.  -0. 333.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0. 342.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0. 345.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  5.  -0. 345.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  4.   1. 345.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  4.  -0.  -0. 350.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -4.0
Solving SP (with placement)...
Solving RMP...
Duals: [ -0.   4.  -0. 350.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: -3.0
Solving SP (with placement)...
Solving RMP...
Duals: [ -0.   1.  -0. 350.   3.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -2.0
Solving SP (with placement)...
Solving RMP...
Duals: [ -0.   1.   2. 350.   1.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [363.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  4.  -0. 372.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -4.0
Solving SP (with placement)...
Solving RMP...
Duals: [ -0.   4. 372.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  1.  -0. 379.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  1. 387.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0. 393.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  5.  -0. 393.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -4.0
Solving SP (with placement)...
Solving RMP...
Duals: [  1.   4. 393.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: -4.0
Solving SP (with placement)...
Solving RMP...
Duals: [  1.  -0. 393.   4.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0]
Solving SP (no placement)...

  2%|▏         | 2/100 [00:00<00:01, 63.97it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  1%|          | 1/100 [00:00<00:01, 61.01it/s]
  1%|          | 1/100 [00:00<00:01, 59.59it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  4%|▍         | 4/100 [00:00<00:02, 38.70it/s]
  0%|          | 0/100 [00:00<?, ?it/s]

Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  5.  -0. 398.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  3.  -0. 403.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  5.  -0. 406.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -5.0
Solving SP (with placement)...
Solving RMP...
Duals: [ -0.   5. 406.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  3.  -0. 413.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -3.0
Solving SP (with placement)...
Solving RMP...
Duals: [ -0.   3. 413.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0. 417.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  5. 417.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0.  -0. 441.  -0.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  4.  -0.  -0.  -0.  -0.  -0. 440.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -3.0
Solving SP (with placement)...
Solving RMP...
Duals: [  1.   3.  -0.  -0.  -0.  -0. 440.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: -3.0
Solving SP (with placement)...
Solving RMP...
Duals: [  1.  -0.  -0.  -0.  -0.  -0. 440.   3.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  1.  -0.  -0.   1.  -0.  -0. 440.   2.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  1.  -0.   1.  -0.  -0.  -0. 440.   2.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  5.  -0.  -0. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -4.0
Solving SP (with placement)...
Solving RMP...
Duals:

  9%|▉         | 9/100 [00:00<00:01, 81.58it/s]

 [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...

 20%|██        | 20/100 [00:00<00:01, 67.35it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  2%|▏         | 2/100 [00:00<00:01, 64.27it/s]
  1%|          | 1/100 [00:00<00:01, 53.65it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]

Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.   3. 443.]
Solving RMP...
Duals: [  2. 448.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0. 459.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0. 474.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  2.  -0. 484.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -2.0
Solving SP (with placement)...
Solving RMP...
Duals: [ -0.   2. 484.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: -2.0
Solving SP (with placement)...
Solving RMP...
Duals: [ -0.  -0. 484.   2.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  3.  -0. 484.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -3.0
Solving SP (with placement)...
Solving RMP...
Duals: [ -0.   3. 484.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [498.  -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.   4. 506.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [519.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [540.  -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0. 547.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost:

  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  1%|          | 1/100 [00:00<00:02, 43.21it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]

 0.0
Reached convergence :)
Solving RMP...
Duals: [554.  -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.   1. 569.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  4.  -0.  -0.  -0. 578.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -2.0
Solving SP (with placement)...
Solving RMP...
Duals: [  2.  -0.  -0.   2. 578.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.   5.  -0. 592.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0.  -0. 601.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [629.  -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [642.  -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [654.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.   4.  -0. 668.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.   5. 672.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0. 679.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [696.  -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.   5.  -0. 715.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0.  -0.  -0.  -0. 731.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0.  -0.  -0.  -0.  -0.  -0.  -0.  -0.  -0. 735.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.   3.  -0.  -0.  -0.  -0.  -0.  -0.  -0. 735.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -3.0
Solving SP (with placement)...
Solving RMP...
Duals: [ -0.  -0.  -0.   3.  -0.  -0.  -0.  -0.  -0. 735.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: -3.0
Solving SP (with placement)...
Solving RMP...
Duals: [ -0.  -0.  -0.  -0.  -0.  -0.  -0.  -0.  -0. 735.   3.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0]
Solving SP (no placement)...

  2%|▏         | 2/100 [00:00<00:02, 33.58it/s]
  1%|          | 1/100 [00:00<00:03, 26.10it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  1%|          | 1/100 [00:00<00:02, 40.13it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]

Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.   5.  -0.  -0.  -0.  -0.  -0.  -0. 735.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -5.0
Solving SP (with placement)...
Solving RMP...
Duals: [ -0.  -0.  -0.  -0.  -0.  -0.  -0.   5.  -0. 735.  -0.]
Alpha: [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0. 745.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0. 748.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0.   4. 748.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [788.  -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [795.  -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0.   5.  -0.  -0. 801.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: -1.0
Solving SP (with placement)...
Solving RMP...
Duals: [ -0.  -0.  -0.   4.   1.  -0. 801.]
Alpha: [0.0, 0.0, 0.0, 1.0, 0.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.   5. 814.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0.  -0. 821.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0.  -0.   3.  -0. 837.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [846.  -0.  -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.   2.  -0. 859.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0. 874.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [885.  -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0.  -0.  -0. 902.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [927.  -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost:

  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]

 0.0
Reached convergence :)
Solving RMP...
Duals: [933.  -0.  -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [941.  -0.  -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0.  -0.  -0.  -0. 972.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [ -0.  -0.  -0.  -0.  -0.  -0. 980.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1033.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1042.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1064.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1072.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1082.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  -0.   -0.   -0.   -0.   -0.    3.   -0. 1095.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  -0.   -0.   -0.   -0.   -0.   -0.   -0.   -0. 1101.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  -0.   -0.   -0.   -0.   -0.   -0.   -0.    4.   -0.   -0. 1116.]
Alpha: [0.0, 0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  -0.   -0.   -0.   -0.    2. 1120.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  -0.   -0.   -0.   -0.   -0. 1138.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1158.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1172.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1207.   -0.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  -0.   -0.   -0.   -0.   -0.   -0. 1232.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  -0.   -0.   -0.   -0.   -0.   -0.   -0. 1234.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  -0.   -0.   -0.    3.   -0. 1246.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1262.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1282.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1289.   -0.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1346.   -0.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  -0.   -0.   -0.   -0.   -0.   -0.    4. 1412.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0

  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]
  0%|          | 0/100 [00:00<?, ?it/s]

Reached convergence :)
Solving RMP...
Duals: [  -0.   -0.   -0.   -0.   -0.   -0.   -0. 1419.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1433.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1444.   -0.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  -0.   -0.   -0.   -0.   -0.   -0.   -0. 1452.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1469.   -0.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1503.   -0.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [  -0.   -0.   -0.   -0.    3.   -0. 1533.]
Alpha: [0.0, 0.0, 1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1632.   -0.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1680.   -0.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1712.   -0.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1725.   -0.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)
Solving RMP...
Duals: [1732.   -0.   -0.   -0.]
Alpha: [1.0]
Solving SP (no placement)...
Reduced cost: 0.0
Reached convergence :)

      item  x  y     z  layer
0       42  0  0     0      0
1       46  0  0     0      1
2       65  0  0     0      2
3       99  0  0     0      3
4       24  0  0     0      4
...    ... .. ..   ...    ...
1028    31  0  0  1433    408
1029     6  0  0     0    409
1030    51  0  0   483    409
1031    21  0  0   927    409
1032     7  0  0  1338    409

[1033 rows x 5 columns]

In [55]:
np.floor(np.mean(bins_lbs) / config.max_product_height)

0.0

In [50]:
utils.get_l0_lb(order, config.pallet_lenght, config.pallet_width, config.max_product_height)

3.0

In [51]:
utils.get_l1_lb(order, config.pallet_lenght, config.pallet_width, config.max_product_height)

(2.0, 2.0, 0.0, 0.0)

In [40]:
utils.get_l2_lb(order, config.pallet_lenght, config.pallet_width, config.max_product_height)

  2%|▏         | 4892/240000 [00:28<22:42, 172.59it/s]

KeyboardInterrupt:

In [90]:
bins = pack.construct_bins(
    final_layer_pool, config.PALLET_DIMS, min_density=0.5, two_dims=False
)
bins

{0: [Layer(height=228, ids=[80]),
  Layer(height=227, ids=[59]),
  Layer(height=226, ids=[55]),
  Layer(height=224, ids=[43]),
  Layer(height=225, ids=[24]),
  Layer(height=215, ids=[99]),
  Layer(height=201, ids=[65]),
  Layer(height=195, ids=[46]),
  Layer(height=176, ids=[42])],
 1: [Layer(height=251, ids=[70]),
  Layer(height=254, ids=[2]),
  Layer(height=251, ids=[70]),
  Layer(height=248, ids=[25]),
  Layer(height=239, ids=[96]),
  Layer(height=234, ids=[23]),
  Layer(height=223, ids=[91]),
  Layer(height=225, ids=[81])],
 2: [Layer(height=273, ids=[10]),
  Layer(height=268, ids=[87]),
  Layer(height=264, ids=[86]),
  Layer(height=267, ids=[37]),
  Layer(height=257, ids=[85]),
  Layer(height=257, ids=[49]),
  Layer(height=254, ids=[2])],
 3: [Layer(height=279, ids=[47]),
  Layer(height=279, ids=[44]),
  Layer(height=274, ids=[13]),
  Layer(height=275, ids=[98]),
  Layer(height=274, ids=[13]),
  Layer(height=273, ids=[10]),
  Layer(height=268, ids=[87])],
 4: [Layer(height=292, ids=[18]),
  Layer(height=281, ids=[71]),
  Layer(height=283, ids=[64]),
  Layer(height=281, ids=[63]),
  Layer(height=279, ids=[47]),
  Layer(height=279, ids=[44]),
  Layer(height=275, ids=[98])],
 5: [Layer(height=292, ids=[31]),
  Layer(height=292, ids=[18]),
  Layer(height=295, ids=[15]),
  Layer(height=290, ids=[89]),
  Layer(height=289, ids=[66]),
  Layer(height=289, ids=[60]),
  Layer(height=292, ids=[31])],
 6: [Layer(height=304, ids=[68]),
  Layer(height=292, ids=[31]),
  Layer(height=292, ids=[18]),
  Layer(height=295, ids=[15]),
  Layer(height=297, ids=[9]),
  Layer(height=290, ids=[89])],
 7: [Layer(height=317, ids=[17]),
  Layer(height=322, ids=[3]),
  Layer(height=313, ids=[75]),
  Layer(height=313, ids=[50]),
  Layer(height=318, ids=[30]),
  Layer(height=317, ids=[17])],
 8: [Layer(height=323, ids=[14]),
  Layer(height=322, ids=[3]),
  Layer(height=318, ids=[30]),
  Layer(height=323, ids=[14]),
  Layer(height=322, ids=[3]),
  Layer(height=318, ids=[30])],
 9: [Layer(height=330, ids=[93]),
  Layer(height=327, ids=[62]),
  Layer(height=325, ids=[40]),
  Layer(height=329, ids=[34]),
  Layer(height=327, ids=[62]),
  Layer(height=325, ids=[40])],
 10: [Layer(height=333, ids=[53]),
  Layer(height=337, ids=[12]),
  Layer(height=330, ids=[93]),
  Layer(height=333, ids=[54]),
  Layer(height=333, ids=[53]),
  Layer(height=329, ids=[34])],
 11: [Layer(height=345, ids=[94]),
  Layer(height=342, ids=[32]),
  Layer(height=342, ids=[32]),
  Layer(height=337, ids=[12]),
  Layer(height=336, ids=[88]),
  Layer(height=333, ids=[54])],
 12: [Layer(height=351, ids=[45]),
  Layer(height=349, ids=[26]),
  Layer(height=345, ids=[94]),
  Layer(height=350, ids=[67]),
  Layer(height=349, ids=[26])],
 13: [Layer(height=371, ids=[0]),
  Layer(height=363, ids=[95]),
  Layer(height=352, ids=[69]),
  Layer(height=350, ids=[67]),
  Layer(height=354, ids=[61])],
 14: [Layer(height=379, ids=[84]),
  Layer(height=376, ids=[78]),
  Layer(height=380, ids=[76]),
  Layer(height=372, ids=[90]),
  Layer(height=376, ids=[78])],
 15: [Layer(height=394, ids=[7]),
  Layer(height=393, ids=[57]),
  Layer(height=388, ids=[8]),
  Layer(height=387, ids=[77]),
  Layer(height=388, ids=[8])],
 16: [Layer(height=401, ids=[79]),
  Layer(height=403, ids=[38]),
  Layer(height=398, ids=[82]),
  Layer(height=393, ids=[57]),
  Layer(height=394, ids=[16])],
 17: [Layer(height=401, ids=[79]),
  Layer(height=403, ids=[38]),
  Layer(height=406, ids=[36]),
  Layer(height=406, ids=[19]),
  Layer(height=398, ids=[82])],
 18: [Layer(height=416, ids=[28]),
  Layer(height=411, ids=[21]),
  Layer(height=406, ids=[36]),
  Layer(height=411, ids=[21]),
  Layer(height=406, ids=[19])],
 19: [Layer(height=417, ids=[58]),
  Layer(height=413, ids=[39]),
  Layer(height=416, ids=[28]),
  Layer(height=413, ids=[39])],
 20: [Layer(height=437, ids=[11]),
  Layer(height=437, ids=[1]),
  Layer(height=417, ids=[58]),
  Layer(height=422, ids=[41])],
 21: [Layer(height=440, ids=[65, 96]),
  Layer(height=441, ids=[56]),
  Layer(height=440, ids=[22]),
  Layer(height=441, ids=[20])],
 22: [Layer(height=441, ids=[56]),
  Layer(height=444, ids=[51]),
  Layer(height=440, ids=[22]),
  Layer(height=441, ids=[20])],
 23: [Layer(height=448, ids=[92]),
  Layer(height=444, ids=[51]),
  Layer(height=440, ids=[65, 96]),
  Layer(height=443, ids=[80, 99])],
 24: [Layer(height=456, ids=[33]),
  Layer(height=448, ids=[92]),
  Layer(height=450, ids=[29]),
  Layer(height=443, ids=[80, 99])],
 25: [Layer(height=481, ids=[5]),
  Layer(height=474, ids=[25, 55]),
  Layer(height=472, ids=[48]),
  Layer(height=459, ids=[46, 86])],
 26: [Layer(height=483, ids=[6]),
  Layer(height=486, ids=[97]),
  Layer(height=484, ids=[52]),
  Layer(height=483, ids=[6])],
 27: [Layer(height=498, ids=[10, 81]),
  Layer(height=486, ids=[97]),
  Layer(height=484, ids=[52]),
  Layer(height=487, ids=[35])],
 28: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=519, ids=[72]),
  Layer(height=506, ids=[42, 93]),
  Layer(height=510, ids=[74])],
 29: [Layer(height=547, ids=[85, 89]),
  Layer(height=546, ids=[37, 47]),
  Layer(height=540, ids=[66, 70])],
 30: [Layer(height=569, ids=[43, 94]),
  Layer(height=570, ids=[23, 88]),
  Layer(height=554, ids=[59, 62])],
 31: [Layer(height=582, ids=[40, 49]),
  Layer(height=578, ids=[13, 68]),
  Layer(height=580, ids=[4])],
 32: [Layer(height=597, ids=[30, 44]),
  Layer(height=592, ids=[17, 98]),
  Layer(height=593, ids=[83])],
 33: [Layer(height=601, ids=[54, 87]),
  Layer(height=597, ids=[30, 44]),
  Layer(height=601, ids=[73])],
 34: [Layer(height=654, ids=[27]),
  Layer(height=642, ids=[34, 50]),
  Layer(height=629, ids=[36, 91])],
 35: [Layer(height=677, ids=[16, 64]),
  Layer(height=668, ids=[24, 80, 99]),
  Layer(height=672, ids=[18, 76])],
 36: [Layer(height=677, ids=[16, 64]),
  Layer(height=679, ids=[63, 82]),
  Layer(height=672, ids=[18, 76])],
 37: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=720, ids=[0, 26]),
  Layer(height=696, ids=[32, 61])],
 38: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=726, ids=[2, 48]),
  Layer(height=715, ids=[69, 95])],
 39: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=731, ids=[25, 55, 85]),
  Layer(height=730, ids=[12, 57])],
 40: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=735, ids=[15, 22]),
  Layer(height=735, ids=[24, 74])],
 41: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=734, ids=[9, 11]),
  Layer(height=730, ids=[12, 57])],
 42: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=731, ids=[25, 55, 85]),
  Layer(height=735, ids=[41, 75])],
 43: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=735, ids=[15, 22]),
  Layer(height=735, ids=[24, 74])],
 44: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=735, ids=[41, 75]),
  Layer(height=734, ids=[9, 11])],
 45: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=735, ids=[24, 74]),
  Layer(height=738, ids=[46, 47, 86])],
 46: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=735, ids=[15, 22]),
  Layer(height=740, ids=[14, 58])],
 47: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=738, ids=[46, 47, 86]),
  Layer(height=735, ids=[41, 75])],
 48: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=745, ids=[33, 60]),
  Layer(height=740, ids=[14, 58])],
 49: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=745, ids=[33, 60]),
  Layer(height=748, ids=[78, 90])],
 50: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=752, ids=[2, 10, 81]),
  Layer(height=748, ids=[78, 90])],
 51: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=795, ids=[28, 84]),
  Layer(height=788, ids=[77, 79])],
 52: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=805, ids=[7, 21]),
  Layer(height=806, ids=[3, 52])],
 53: [Layer(height=814, ids=[5, 53]), Layer(height=801, ids=[13, 68, 91])],
 54: [Layer(height=819, ids=[19, 39]), Layer(height=819, ids=[19, 39])],
 55: [Layer(height=840, ids=[1, 38]), Layer(height=821, ids=[63, 66, 70])],
 56: [Layer(height=837, ids=[23, 37, 88]), Layer(height=837, ids=[35, 67])],
 57: [Layer(height=861, ids=[4, 71]), Layer(height=846, ids=[36, 65, 96])],
 58: [Layer(height=874, ids=[8, 97]), Layer(height=859, ids=[43, 89, 94])],
 59: [Layer(height=885, ids=[31, 83]), Layer(height=870, ids=[45, 72])],
 60: [Layer(height=902, ids=[46, 80, 86, 99]),
  Layer(height=898, ids=[29, 92])],
 61: [Layer(height=933, ids=[40, 45, 49]), Layer(height=927, ids=[6, 51])],
 62: [Layer(height=972, ids=[15, 16, 64]),
  Layer(height=941, ids=[17, 26, 98])],
 63: [Layer(height=978, ids=[42, 48, 93]),
  Layer(height=972, ids=[10, 25, 55, 81])],
 64: [Layer(height=1033, ids=[30, 69, 95]),
  Layer(height=980, ids=[65, 66, 70, 96])],
 65: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1042, ids=[20, 73])],
 66: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1064, ids=[59, 62, 74])],
 67: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1072, ids=[32, 61, 78])],
 68: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1082, ids=[22, 34, 50])],
 69: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1095, ids=[27, 56])],
 70: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1098, ids=[3, 31, 52])],
 71: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1098, ids=[19, 39, 44])],
 72: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1098, ids=[3, 31, 52])],
 73: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1101, ids=[0, 12, 57])],
 74: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1098, ids=[19, 39, 44])],
 75: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1120, ids=[54, 72, 87])],
 76: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1116, ids=[23, 37, 47, 88])],
 77: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1116, ids=[43, 85, 89, 94])],
 78: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1122, ids=[18, 29, 76])],
 79: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1120, ids=[54, 72, 87])],
 80: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1138, ids=[14, 58, 82])],
 81: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1138, ids=[67, 77, 79])],
 82: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1158, ids=[4, 9, 71])],
 83: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1172, ids=[11, 41, 75])],
 84: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1207, ids=[13, 36, 68, 91])],
 85: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1228, ids=[6, 33, 60])],
 86: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1232, ids=[2, 42, 48, 93])],
 87: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1232, ids=[2, 42, 48, 93])],
 88: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1234, ids=[17, 34, 50, 98])],
 89: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1246, ids=[8, 90, 97])],
 90: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1249, ids=[7, 21, 51])],
 91: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1262, ids=[5, 53, 92])],
 92: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1282, ids=[28, 35, 84])],
 93: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1289, ids=[24, 59, 62, 74])],
 94: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1346, ids=[33, 54, 60, 87])],
 95: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1412, ids=[15, 16, 22, 64])],
 96: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1416, ids=[19, 30, 39, 44])],
 97: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1419, ids=[14, 58, 63, 82])],
 98: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1416, ids=[19, 30, 39, 44])],
 99: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1433, ids=[1, 38, 83])],
 100: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1444, ids=[32, 61, 78, 90])],
 101: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1450, ids=[0, 12, 26, 57])],
 102: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1452, ids=[40, 45, 49, 72])],
 103: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=1469, ids=[9, 11, 41, 75])],
 104: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=1503, ids=[69, 77, 79, 95])],
 105: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=1536, ids=[20, 27, 56])],
 106: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=1533, ids=[4, 18, 71, 76])],
 107: [Layer(height=1632, ids=[28, 35, 67, 84])],
 108: [Layer(height=1680, ids=[3, 8, 52, 97])],
 109: [Layer(height=1712, ids=[5, 29, 53, 92])],
 110: [Layer(height=1725, ids=[1, 31, 38, 83])],
 111: [Layer(height=1732, ids=[6, 7, 21, 51])],
 112: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=1536, ids=[4, 18, 20, 27, 56, 71, 76])],
 113: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=1536, ids=[20, 27, 56])],
 114: [Layer(height=1732, ids=[6, 7, 21, 51])],
 115: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1416, ids=[15, 16, 19, 22, 30, 39, 44, 64])],
 116: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1452, ids=[0, 12, 26, 40, 45, 49, 57, 72])],
 117: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1419, ids=[14, 19, 30, 39, 44, 58, 63, 82])],
 118: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1098, ids=[3, 19, 27, 31, 39, 44, 52, 56])],
 119: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1249, ids=[7, 8, 21, 51, 90, 97])],
 120: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1232, ids=[2, 6, 33, 42, 48, 60, 93])],
 121: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=1469, ids=[9, 11, 41, 75])],
 122: [Layer(height=1632, ids=[28, 35, 67, 84])],
 123: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1101, ids=[0, 3, 12, 19, 31, 39, 44, 52, 57])],
 124: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1452, ids=[40, 45, 49, 72])],
 125: [Layer(height=735, ids=[9, 11, 12, 15, 22, 24, 25, 41, 55, 57, 74, 75, 85]),
  Layer(height=1249, ids=[7, 21, 51])],
 126: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=1533, ids=[4, 18, 71, 76])],
 127: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=1503, ids=[69, 77, 79, 95])],
 128: [Layer(height=738, ids=[9, 11, 15, 22, 24, 41, 46, 47, 74, 75, 86]),
  Layer(height=1234, ids=[2, 17, 34, 42, 48, 50, 93, 98])],
 129: [Layer(height=738, ids=[9, 11, 15, 22, 24, 41, 46, 47, 74, 75, 86]),
  Layer(height=1120, ids=[23, 37, 43, 47, 54, 72, 85, 87, 88, 89, 94])],
 130: [Layer(height=738, ids=[9, 11, 15, 22, 24, 41, 46, 47, 74, 75, 86]),
  Layer(height=1122, ids=[18, 29, 54, 72, 76, 87])],
 131: [Layer(height=1725, ids=[1, 31, 38, 83])],
 132: [Layer(height=738, ids=[9, 11, 15, 22, 24, 41, 46, 47, 74, 75, 86]),
  Layer(height=1042, ids=[20, 73])],
 133: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1346, ids=[33, 54, 60, 87])],
 134: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1416, ids=[19, 30, 39, 44])],
 135: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1416, ids=[19, 30, 39, 44])],
 136: [Layer(height=738, ids=[9, 11, 15, 22, 24, 41, 46, 47, 74, 75, 86]),
  Layer(height=1138, ids=[14, 58, 67, 77, 79, 82])],
 137: [Layer(height=738, ids=[9, 11, 15, 22, 24, 41, 46, 47, 74, 75, 86]),
  Layer(height=1228, ids=[6, 33, 60])],
 138: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1412, ids=[15, 16, 22, 64])],
 139: [Layer(height=1712, ids=[5, 29, 53, 92])],
 140: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=806, ids=[3, 7, 13, 21, 52, 68, 91]),
  Layer(height=740, ids=[14, 15, 22, 24, 41, 46, 47, 58, 74, 75, 86])],
 141: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1419, ids=[14, 58, 63, 82])],
 142: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1433, ids=[1, 38, 83])],
 143: [Layer(height=1680, ids=[3, 8, 52, 97])],
 144: [Layer(height=805, ids=[7, 13, 21, 68, 91]),
  Layer(height=1095, ids=[27, 56])],
 145: [Layer(height=805, ids=[7, 13, 21, 68, 91]),
  Layer(height=1120, ids=[54, 72, 87])],
 146: [Layer(height=805, ids=[7, 13, 21, 68, 91]),
  Layer(height=1120, ids=[54, 72, 87])],
 147: [Layer(height=805, ids=[7, 13, 21, 68, 91]),
  Layer(height=1158, ids=[4, 9, 71])],
 148: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1282, ids=[28, 35, 84])],
 149: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1098, ids=[19, 39, 44])],
 150: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1098, ids=[19, 39, 44])],
 151: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=972, ids=[10, 15, 16, 25, 55, 64, 81])],
 152: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1172, ids=[11, 41, 75])],
 153: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1450, ids=[0, 12, 26, 57])],
 154: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1232, ids=[2, 42, 48, 93])],
 155: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1232, ids=[2, 42, 48, 93])],
 156: [Layer(height=601, ids=[30, 44, 54, 73, 87]),
  Layer(height=1444, ids=[32, 61, 78, 90])],
 157: [Layer(height=874, ids=[8, 45, 72, 97]),
  Layer(height=980, ids=[42, 48, 65, 66, 70, 93, 96])],
 158: [Layer(height=735, ids=[9, 11, 41, 75]),
  Layer(height=1234, ids=[17, 34, 50, 98])],
 159: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=735, ids=[9, 11, 41, 75]),
  Layer(height=840, ids=[1, 23, 35, 37, 38, 67, 88])],
 160: [Layer(height=745, ids=[14, 33, 58, 60]),
  Layer(height=1138, ids=[67, 77, 79])],
 161: [Layer(height=745, ids=[14, 33, 58, 60]),
  Layer(height=933, ids=[40, 45, 49])],
 162: [Layer(height=1138, ids=[14, 58, 82]),
  Layer(height=861, ids=[4, 43, 71, 89, 94])],
 163: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=735, ids=[15, 22, 41, 75]),
  Layer(height=805, ids=[7, 21])],
 164: [Layer(height=1033, ids=[30, 69, 95]),
  Layer(height=735, ids=[15, 22, 41, 75])],
 165: [Layer(height=444, ids=[20, 22, 51, 56, 65, 80, 96, 99]),
  Layer(height=1262, ids=[5, 53, 92])],
 166: [Layer(height=819, ids=[5, 19, 39, 53]), Layer(height=927, ids=[6, 51])],
 167: [Layer(height=1122, ids=[18, 29, 76]),
  Layer(height=748, ids=[33, 60, 78, 90])],
 168: [Layer(height=441, ids=[1, 11, 20, 22, 56, 65, 96]),

In [95]:
example_bin = bins[173]
height = 0
ax = plot.get_pallet(config.PALLET_DIMS)
for layer in example_bin:
    items_coords = layer.get_items_coords(z=height)
    for item_id, coords in items_coords.items():
        dims = (
            order.iloc[item_id].width,
            order.iloc[item_id].depth,
            order.iloc[item_id].height,
        )
        ax = plot.add_product_to_pallet(
            ax, item_id, (coords.x, coords.y, coords.z), dims
        )
    height += layer.height
plt.show()

Todo:
- Verificare se superitem con stessi item possono essere nello stesso layer (sia in CP che maxrects)
    - Solo fra superitem con > 1 item e superitem con = 1 item
- We also let each selected layer to have a maximum of 3 items that are covered using the previously selected layers.
    - Forse non serve per come abbiamo strutturato layer e superitem
- (?) To ensure that each item is covered only once, we keep the items that are covered multiple times only in the layer with the highest αl value, and remove them from the rest of the selected layers
    - Aggiungere alpha value nei layer
- Come gestire oggetti volanti?
    - Spaziatura spiegata nel paper?
- Provare superitems orizzontali: stesso item duplicato stesso layer
- Controllare ordinamento per densita nella layer pool (select_layers)

## Warm start without height groups

In [141]:
zsl, ol = warm_start.warm_start_no_groups(
    superitems, config.pallet_lenght, config.pallet_width
)
zsl, ol

(array([[0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
        [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
        [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
        [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
        [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
        [1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
        [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
        [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
        [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
        [1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
        [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
        [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
        [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
        [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
        [1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
        [1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
        [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
        [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
        [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
        [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
        [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
        [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
        [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
        [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
        [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
        [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
        [0, 0, 0, 1, 0, 0, 0, 0, 0, 0]]),
 array([406, 501, 239, 619, 738, 380, 814, 737, 445, 514]))

In [140]:
zsl, ol = warm_start.warm_start(
    len(superitems), initial_groups, config.pallet_lenght, config.pallet_width
)
zsl, ol

IndexError: index 91 is out of bounds for axis 0 with size 60

In [142]:
fsi = layers.items_assignment(superitems)
fsi

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 1],
       [0, 0, 1, ..., 0, 1, 1],
       [0, 0, 0, ..., 0, 1, 1]])

In [ ]:
layer_pool = column_generation(
    fsi, zsl, ol, ws, ds, hs, 
    config.pallet_lenght, config.pallet_width, tlim=None
)

  0%|          | 0/20 [00:00<?, ?it/s]

Solving RMP...

In [95]:
layer_pool

[(1.0,
  1097.0000000000002,
  array([ 2, 14, 19, 31]),
  array([[  0.,   0.],
         [  0., 118.],
         [240., 494.],
         [ 84., 494.]])),
 (1.0,
  756.0000000000001,
  array([ 1,  4,  7, 20, 21, 24]),
  array([[ 19.,   0.],
         [152., 499.],
         [  0., 254.],
         [ 19., 254.],
         [304., 254.],
         [  0., 109.]])),
 (1.0, 232.0, array([8]), array([[0., 0.]])),
 (0.5,
  1619.9999999999998,
  array([ 9, 12, 27, 29]),
  array([[  0., 894.],
         [563.,   0.],
         [  0., 549.],
         [  0.,  87.]])),
 (0.5,
  1019.0000000000001,
  array([10, 16, 26, 28]),
  array([[  0.,   0.],
         [  0., 747.],
         [628.,   0.],
         [ 21.,   0.]])),
 (0.5,
  1543.0000000000002,
  array([13, 30]),
  array([[  0.,   0.],
         [160.,   0.]])),
 (0.3333333333333333,
  356.99999999999994,
  array([ 6, 22, 25]),
  array([[  0., 184.],
         [  0.,   0.],
         [  0., 368.]]))]

In [104]:
example = layer_pool[6]
ax = plot.get_pallet(config.pallet_lenght, config.pallet_width, example[1])
for s_id, s_coords in zip(example[2], example[3]):
    dims = superitems.iloc[s_id].lenght, superitems.iloc[s_id].width, superitems.iloc[s_id].height
    ax = plot.add_product_to_pallet(ax, s_id, (s_coords[0], s_coords[1], 0), dims)
    plt.show()